/* Reset css */
*, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

li {
  list-style: none; }

body {
  font-family: 'arial'; }

/* Animation neon */
@keyframes blink1 {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  20% {
    opacity: 0; }
  30% {
    opacity: 1; }
  40% {
    opacity: 0; }
  50% {
    opacity: 1; }
  60% {
    opacity: 0; }
  62% {
    opacity: 1; }
  70% {
    opacity: 0; }
  77% {
    opacity: 1; }
  80% {
    opacity: 0; }
  90% {
    opacity: 1; }
  92% {
    opacity: 0; }
  94% {
    opacity: 1; }
  95% {
    opacity: 0; }
  97% {
    opacity: 1; }
  98% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blink2 {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  8% {
    opacity: 0; }
  10% {
    opacity: 1; }
  12% {
    opacity: 0; }
  16% {
    opacity: 1; }
  22% {
    opacity: 0; }
  29% {
    opacity: 1; }
  33% {
    opacity: 0; }
  40% {
    opacity: 1; }
  45% {
    opacity: 0; }
  49% {
    opacity: 1; }
  55% {
    opacity: 0; }
  62% {
    opacity: 1; }
  67% {
    opacity: 0; }
  73% {
    opacity: 1; }
  76% {
    opacity: 0; }
  80% {
    opacity: 1; }
  83% {
    opacity: 0; }
  85% {
    opacity: 1; }
  88% {
    opacity: 0; }
  90% {
    opacity: 1; }
  92% {
    opacity: 0; }
  94% {
    opacity: 1; }
  95% {
    opacity: 0; }
  97% {
    opacity: 1; }
  98% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Menu mobile */
@media screen and (max-width: 425px) {
  .nav-check, .nav-large {
    display: none; }
  .btn-menu {
    background-color: #37373f;
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    font-family: "Neon Tubes 2";
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
    box-shadow: #ffd9e2 0px 0px 4px 0px , #ffd9e2 0px 0px 1px 0px; }
  .bi-caret-left-fill {
    color: #f845c5;
    position: fixed;
    top: 2.5rem;
    right: 5rem; }
  .logo {
    font-family: "Neon Tubes 2";
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
    position: relative;
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.5rem; }
    .logo:hover {
      color: #f845c5; }
  .nav {
    width: 10rem;
    position: fixed;
    top: 1rem;
    right: 7rem;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    z-index: 1; }
  .nav-list {
    left: 2rem;
    top: 1rem;
    text-align: center;
    background-color: rgba(55, 55, 63, 0.9);
    border-radius: 20px;
    padding: 1rem;
    box-shadow: #ffd9e2 0px 0px 4px 0px , #ffd9e2 0px 0px 1px 0px; }
  .liens {
    font-family: "Neon Tubes 2";
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0.5rem;
    padding: 0.5rem; }
    .liens:hover {
      color: #f845c5; }
  .nav-check:checked ~ .nav {
    transform: scale(1, 1); } }

/* Menu tablette desktop */
@media screen and (min-width: 426px) {
  .nav-logo {
    display: none; }
  .nav-large {
    display: flex;
    background-color: #37373f;
    position: fixed;
    width: 100%;
    z-index: 1; }
  .logo-large {
    font-family: "Neon Tubes 2";
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
    padding: 1rem 1.3rem;
    font-size: 1.5rem; }
  .nav2 {
    margin-left: auto; }
  .nav-list2 {
    display: flex;
    padding: 1.3rem 1rem; }
  .liens-large {
    font-family: "Neon Tubes 2";
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1rem; }
    .liens-large:hover {
      color: #f845c5; } }

/* SECTION HERO */
#hero {
  background-color: #37373f;
  top: 0;
  padding: 5rem 3rem 5rem 3rem; }

.titles {
  margin-top: 5rem;
  margin-bottom: 3rem; }

.title-l {
  display: flex;
  padding: 1rem 0; }
  .title-l .laeti {
    margin: auto;
    font-family: "Neon Tubes 2";
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
    font-size: 300%;
    letter-spacing: 5px; }

.title-d, .title-dev, .title-w {
  display: flex; }
  .title-d .duche, .title-dev .duche, .title-w .duche {
    font-size: 300%;
    margin: auto;
    font-family: "Neon Tubes 2";
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5; }

.title-dev {
  margin-right: 1rem;
  margin-left: 1rem; }

.title-dw {
  font-size: 1.5rem;
  margin-top: 5rem; }
  .title-dw .dev, .title-dw .web {
    font-family: "Neon Tubes 2";
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
    letter-spacing: 3px;
    margin: auto; }

.title-dev {
  padding: 1rem 0; }

/* Animation neon */
.laeti, .duche {
  animation: blink1 1000ms linear; }

.dev {
  animation: blink1 1500ms linear; }

.web {
  animation: blink2 2700ms linear; }

@media screen and (min-width: 620px) {
  .title-dw {
    display: flex;
    justify-content: center; } }

/* SECTION CONTACT */
footer {
  background-color: #37373f; }

.bloc-contact {
  display: flex;
  padding: 2rem 1rem 1rem 1rem;
  margin-top: 2rem; }

.contact, .social {
  width: 100%; }

.p-contact {
  color: #fff;
  margin-bottom: 2rem;
  text-align: center; }

.mailto, .linkedin {
  display: flex;
  justify-content: center; }

.bi-envelope-fill, .bi-linkedin {
  font-family: "Neon Tubes 2";
  color: #ffd9e2;
  text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
  text-align: center;
  font-size: 2rem; }
  .bi-envelope-fill:hover, .bi-linkedin:hover {
    color: #f845c5; }

/* SECTION A PROPOS */
#apropos {
  background-color: #ebebeb;
  padding-top: 3rem;
  padding-bottom: 3rem; }

/* TEXTE */
.title-bio {
  margin-top: 2rem; }

.p-bio {
  padding: 2rem;
  text-align: justify;
  color: #000;
  line-height: 30px;
  font-size: 1.2rem; }

/* PORTRAIT */
.img {
  text-align: center; }

.img-bio {
  box-shadow: 5px 5px 20px  #9b9b9f;
  object-fit: cover;
  border-radius: 50%;
  width: 250px;
  height: 250px; }

/* RESPONSIVE tablette / desktop */
@media screen and (min-width: 426px) {
  #apropos {
    align-items: center; }
  .p-bio {
    margin-left: 3rem;
    margin-right: 3rem; }
  .title h3 {
    width: 100%; } }

@media screen and (min-width: 769px) {
  .title-bio {
    display: flex; }
  .p-bio {
    width: 50%;
    margin: 0 0 0 2rem;
    padding-right: 0; }
  .img {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto; } }

@media screen and (min-width: 1024px) {
  .title-bio {
    margin-top: 4rem; }
  .p-bio {
    margin-left: 5rem; }
  .img {
    margin-top: auto; } }

/* SECTION PROJETS */
#projets {
  background-color: #d7d7d8; }

.p-projet {
  display: flex;
  padding: 1rem;
  justify-content: center;
  color: #000;
  line-height: 30px;
  font-size: 1.2rem; }
  .p-projet p {
    flex-basis: 90%;
    text-align: justify; }

/* CAROUSEL */
.carousel {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  grid-auto-columns: 100%;
  padding: 2rem 1rem 2rem 1rem;
  margin: 2rem 1rem 2rem 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 20px  #9b9b9f; }

.element-projet {
  display: flex;
  border-radius: 0.5rem;
  margin: 1rem 0.5rem 2rem 0.5rem;
  box-shadow: 5px 5px 20px  #9b9b9f;
  width: 90%; }

.container {
  display: flex; }

.overlay {
  display: none; }

.btn {
  text-decoration: none;
  color: #000; }
  .btn:hover {
    overlay: #fff; }
  .btn .titre-projet {
    text-align: center;
    padding: 0.2rem;
    background: #fff;
    border-radius: 0 0 0.5rem 0.5rem; }
    .btn .titre-projet p {
      padding-bottom: 0.5rem; }
  .btn img {
    width: 100%;
    /* object-fit: cover */
    border-radius: 0.5rem 0.5rem 0 0; }

/* POP-UP MODAL */
/* Fenetre */
.modal-window {
  display: flex;
  top: -20%;
  right: 0;
  left: 0;
  bottom: -20%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  border-radius: 1rem; }

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto; }

.modal-window > div {
  position: absolute;
  border-radius: 1rem;
  top: 70%;
  left: 10%;
  right: 10%;
  background: #f2f2f2;
  box-shadow: 5px 5px 20px  #9b9b9f; }

.modal-window h3 {
  font-size: 2em;
  margin: 1rem 0 1rem 0; }

.close {
  margin-top: 1rem;
  margin-left: 1rem;
  position: absolute;
  font-size: 2rem; }
  .close .bi-x-lg {
    color: #f845c5; }
    .close .bi-x-lg:hover {
      color: #000; }

/* Texte */
.text-pop {
  display: inline-block;
  background: #fff;
  padding: 3rem 2rem 2rem 2rem;
  border-radius: 1rem 1rem 0 0; }
  .text-pop h4 {
    text-align: center;
    color: #f845c5;
    font-family: "Neon Tubes 2";
    font-size: 1.2rem;
    margin: 1rem 0 0 0;
    line-height: 2rem; }
  .text-pop .p-pop {
    display: flex; }
    .text-pop .p-pop p {
      text-align: justify;
      padding-top: 5%;
      padding-bottom: 5%; }

.tech-pop {
  margin-top: 1rem; }

.logo-tech {
  display: flex;
  margin-top: 2rem;
  justify-content: space-evenly; }

.logo-tech img {
  width: 50px; }

figure {
  margin-top: auto; }

figcaption {
  text-align: center; }

/* Demo-Video */
.video-pop {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background: #ebebeb;
  border-radius: 0 0 1rem 1rem; }
  .video-pop video {
    margin-top: auto;
    margin-bottom: auto;
    width: 250px;
    border-radius: 1rem;
    border: 5px solid #fff;
    box-shadow: 5px 5px 20px  #9b9b9f; }

/* RESPONSIVE tablette / desktop */
@media screen and (min-width: 426px) {
  .carousel {
    grid-auto-columns: 60%;
    margin: 2rem; }
  .modal-window {
    top: -20%;
    right: -30%;
    left: -30%;
    bottom: -20%; } }

@media screen and (min-width: 769px) {
  .carousel {
    grid-auto-columns: 40%;
    margin: 2rem 4rem 2rem 4rem;
    padding: 3rem 1rem 3rem 1rem; }
  .p-projet {
    padding: 4rem; }
  .modal-window > div {
    display: flex; }
  .text-pop {
    border-radius: 1rem 0 0 1rem; }
  .video-pop {
    border-radius: 0 1rem 1rem 0; } }

@media screen and (min-width: 1026px) {
  .video-pop {
    padding-right: 5rem;
    padding-left: 5rem; } }

/* ONE PAGE */
section, footer {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.projets-title, .propos-title, .contact-title {
  font-family: "Neon Tubes 2";
  color: #f845c5;
  text-align: center; }

p {
  font-size: 1.2rem; }

@media screen and (min-width: 620px) {
  .names {
    display: flex;
    justify-content: center; }
    .names .laeti {
      margin-right: 2rem; } }
