/* Reset css */
*, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

li {
  list-style: none; }

body {
  font-family: 'arial'; }

/* Animation neon */
@keyframes blink1 {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  20% {
    opacity: 0; }
  30% {
    opacity: 1; }
  40% {
    opacity: 0; }
  50% {
    opacity: 1; }
  60% {
    opacity: 0; }
  62% {
    opacity: 1; }
  70% {
    opacity: 0; }
  77% {
    opacity: 1; }
  80% {
    opacity: 0; }
  90% {
    opacity: 1; }
  92% {
    opacity: 0; }
  94% {
    opacity: 1; }
  95% {
    opacity: 0; }
  97% {
    opacity: 1; }
  98% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blink2 {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  8% {
    opacity: 0; }
  10% {
    opacity: 1; }
  12% {
    opacity: 0; }
  16% {
    opacity: 1; }
  22% {
    opacity: 0; }
  29% {
    opacity: 1; }
  33% {
    opacity: 0; }
  40% {
    opacity: 1; }
  45% {
    opacity: 0; }
  49% {
    opacity: 1; }
  55% {
    opacity: 0; }
  62% {
    opacity: 1; }
  67% {
    opacity: 0; }
  73% {
    opacity: 1; }
  76% {
    opacity: 0; }
  80% {
    opacity: 1; }
  83% {
    opacity: 0; }
  85% {
    opacity: 1; }
  88% {
    opacity: 0; }
  90% {
    opacity: 1; }
  92% {
    opacity: 0; }
  94% {
    opacity: 1; }
  95% {
    opacity: 0; }
  97% {
    opacity: 1; }
  98% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Menu mobile */
@media screen and (max-width: 425px) {
  .nav-check, .nav-large {
    display: none; }
  .btn-menu {
    background-color: #37373f;
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    font-family: "Neon Tubes 2";
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
    box-shadow: #ffd9e2 0px 0px 4px 0px , #ffd9e2 0px 0px 1px 0px; }
  .bi-caret-left-fill {
    color: #f845c5;
    position: fixed;
    top: 2.5rem;
    right: 5rem; }
  .logo {
    font-family: "Neon Tubes 2";
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
    position: relative;
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.5rem; }
    .logo:hover {
      color: #f845c5; }
  .nav {
    width: 10rem;
    position: fixed;
    top: 1rem;
    right: 7rem;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    z-index: 1; }
  .nav-list {
    left: 2rem;
    top: 1rem;
    text-align: center;
    background-color: rgba(55, 55, 63, 0.9);
    border-radius: 20px;
    padding: 1rem;
    box-shadow: #ffd9e2 0px 0px 4px 0px , #ffd9e2 0px 0px 1px 0px; }
  .liens {
    font-family: "Neon Tubes 2";
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0.5rem;
    padding: 0.5rem; }
    .liens:hover {
      color: #f845c5; }
  .nav-check:checked ~ .nav {
    transform: scale(1, 1); } }

/* Menu tablette desktop */
@media screen and (min-width: 426px) {
  .nav-logo {
    display: none; }
  .nav-large {
    display: flex;
    background-color: rgba(55, 55, 63, 0.9);
    position: fixed;
    width: 100%;
    z-index: 1; }
  .logo-large {
    font-family: "Neon Tubes 2";
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
    padding: 1rem 1.3rem;
    font-size: 1.5rem; }
  .nav2 {
    margin-left: auto; }
  .nav-list2 {
    display: flex;
    padding: 1.3rem 1rem; }
  .liens-large {
    font-family: "Neon Tubes 2";
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1rem; }
    .liens-large:hover {
      color: #f845c5; } }

/* SECTION HERO */
#hero {
  background-color: #37373f;
  top: 0;
  padding: 5rem 3rem 5rem 3rem; }

.titles {
  margin-top: 5rem;
  margin-bottom: 3rem; }

.title-l {
  display: flex;
  padding: 1rem 0; }
  .title-l .laeti {
    margin: auto;
    font-family: "Neon Tubes 2";
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
    font-size: 300%;
    letter-spacing: 5px; }

.title-d, .title-dev, .title-w {
  display: flex; }
  .title-d .duche, .title-dev .duche, .title-w .duche {
    font-size: 300%;
    margin: auto;
    font-family: "Neon Tubes 2";
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5; }

.title-dev {
  margin-right: 1rem;
  margin-left: 1rem; }

.title-dw {
  font-size: 1.5rem;
  margin-top: 5rem; }
  .title-dw .dev, .title-dw .web {
    font-family: "Neon Tubes 2";
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
    letter-spacing: 3px;
    margin: auto; }

.title-dev {
  padding: 1rem 0; }

/* Animation neon */
.laeti, .duche {
  animation: blink1 1000ms linear; }

.dev {
  animation: blink1 1500ms linear; }

.web {
  animation: blink2 2700ms linear; }

@media screen and (min-width: 620px) {
  .title-dw {
    display: flex;
    justify-content: center; } }

/* SECTION CONTACT */
footer {
  background-color: #37373f; }

.bloc-contact {
  display: flex;
  padding: 2rem 1rem 1rem 1rem;
  margin-top: 2rem; }

.contact, .social {
  width: 100%; }

.p-contact {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 2rem;
  text-align: center; }

.mailto, .linkedin {
  display: flex;
  justify-content: center; }

.bi-envelope-fill, .bi-linkedin {
  font-family: "Neon Tubes 2";
  color: #ffd9e2;
  text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
  text-align: center;
  font-size: 2rem; }
  .bi-envelope-fill:hover, .bi-linkedin:hover {
    color: #f845c5; }

/* SECTION A PROPOS */
#apropos {
  background-color: #5e5e65;
  padding-top: 3rem;
  padding-bottom: 3rem;
  /* background-image: url("../images/photo2.png")  */ }

/*  background-size: contain
  background-repeat: no-repeat
  margin-bottom: 0
  background-position: right */
.title-bio {
  margin-top: 2rem; }

.p-bio {
  padding: 2rem;
  text-align: justify;
  color: #fff;
  line-height: 30px;
  font-size: 1.2rem; }

.img {
  text-align: center; }

.img-bio {
  box-shadow: 5px 5px 12px #37373f;
  object-fit: cover;
  border-radius: 50%;
  width: 250px;
  height: 250px; }

@media screen and (min-width: 426px) {
  #apropos {
    align-items: center; }
  .p-bio {
    margin-left: 3rem;
    margin-right: 3rem; }
  .title h3 {
    width: 100%; } }

@media screen and (min-width: 769px) {
  .title-bio {
    display: flex; }
  .p-bio {
    width: 50%;
    margin: 0 0 0 2rem;
    padding-right: 0; }
  .img {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto; } }

@media screen and (min-width: 1024px) {
  .title-bio {
    margin-top: 4rem; }
  .p-bio {
    margin-left: 5rem; }
  .img {
    margin-top: auto; } }

/* SECTION PROJETS */
#projets {
  background-color: #4b4b52; }

/* ONE PAGE */
section, footer {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.projets-title, .propos-title, .contact-title {
  font-family: "Neon Tubes 2";
  color: #fff;
  text-align: center;
  text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5; }

@media screen and (min-width: 620px) {
  .names {
    display: flex;
    justify-content: center; }
    .names .laeti {
      margin-right: 2rem; } }
