/* Reset css */
*, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: 'arial';
}

@font-face {
  font-family: 'arial', 'NeonTubes2';
  src: url("./css/NeonTubes2.otf");
}

/* f845c5 - 37373f*/
/* Animation neon */
@-webkit-keyframes blink1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  62% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  77% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  92% {
    opacity: 0;
  }
  94% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  97% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  62% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  77% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  92% {
    opacity: 0;
  }
  94% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  97% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink2 {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  8% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  12% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  22% {
    opacity: 0;
  }
  29% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  49% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  62% {
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
  73% {
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  83% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  88% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  92% {
    opacity: 0;
  }
  94% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  97% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink2 {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  8% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  12% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  22% {
    opacity: 0;
  }
  29% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  49% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  62% {
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
  73% {
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  83% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  88% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  92% {
    opacity: 0;
  }
  94% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  97% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Menu mobile */
@media screen and (max-width: 425px) {
  .nav-check, .nav-large {
    display: none;
  }
  .btn-menu {
    background-color: #161619;
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    font-family: "Neon Tubes 2";
    background: #161619;
    -webkit-box-shadow: 1px 1px 5px #000, -1px -1px 5px #6f6f6f, inset 1px 1px 5px #2b2b2b, inset -1px -1px 5px #000;
            box-shadow: 1px 1px 5px #000, -1px -1px 5px #6f6f6f, inset 1px 1px 5px #2b2b2b, inset -1px -1px 5px #000;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
  .btn-menu:active {
    -webkit-box-shadow: 1px 1px 5px #5b5b5b, -1px -1px 5px #000, inset 1px 1px 5px #2b2b2b, inset -1px -1px 5px #e5dfdf;
            box-shadow: 1px 1px 5px #5b5b5b, -1px -1px 5px #000, inset 1px 1px 5px #2b2b2b, inset -1px -1px 5px #e5dfdf;
    color: #fff;
    text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
  }
  .bi-caret-left-fill {
    color: #f845c5;
    position: fixed;
    top: 2.5rem;
    right: 5rem;
  }
  .logo {
    font-family: "Neon Tubes 2";
    color: #fff;
    text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
    /* ffd9e2 */
    position: relative;
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .logo:hover {
    color: #f845c5;
  }
  .nav {
    width: 10rem;
    position: fixed;
    top: 1rem;
    right: 7rem;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: -webkit-transform 400ms ease-in-out;
    transition: -webkit-transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
    z-index: 2000;
  }
  .nav-list {
    left: 2rem;
    top: 1rem;
    text-align: center;
    background-color: #161619;
    border-radius: 20px;
    padding: 1rem;
    -webkit-box-shadow: 5px 5px 20px  #000;
            box-shadow: 5px 5px 20px  #000;
  }
  .liens {
    font-family: "Neon Tubes 2";
    color: #f845c5;
    display: inline-block;
    font-size: 1rem;
    text-shadow: 2px 2px 2px #000;
    margin: 0.5rem;
    padding: 0.5rem;
  }
  .liens:hover {
    font-family: "Neon Tubes 2";
    color: #fff;
    text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
    /* ffd9e2 */
  }
  .nav-check:checked ~ .nav {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

/* Menu tablette desktop */
@media screen and (min-width: 426px) {
  .nav-logo {
    display: none;
  }
  .nav-large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0.2)));
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.2));
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .logo-large {
    font-family: "Neon Tubes 2";
    color: #f845c5;
    padding: 1rem 1.3rem;
    font-size: 1.5rem;
  }
  .logo-large:hover {
    font-family: "Neon Tubes 2";
    color: #fff;
    text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
    /* ffd9e2 */
  }
  .nav2 {
    margin-left: auto;
  }
  .nav-list2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.3rem 1rem;
  }
  .liens-large {
    color: #f845c5;
    font-family: "Neon Tubes 2";
    font-size: 1rem;
    padding: 1rem;
    text-shadow: 2px 2px 2px #000;
  }
  .liens-large:hover {
    font-family: "Neon Tubes 2";
    color: #fff;
    text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
    /* ffd9e2 */
  }
}

/* ONE PAGE */
.projets-title, .propos-title, .contact-title {
  font-family: "Neon Tubes 2";
  color: #fff;
  text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
  /* ffd9e2 */
  text-align: center;
}

a:focus {
  outline-color: #f845c5;
  border-radius: 1rem;
  border: 2px;
}

/* SECTION HERO */
#hero {
  background-image: url("../images/bg-black.jpg");
  background-size: cover;
  top: 0;
  padding: 5.5rem 1rem 5.5rem 1rem;
  -webkit-box-shadow: #26394d 0px 20px 30px -10px;
          box-shadow: #26394d 0px 20px 30px -10px;
}

.titles {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.title-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

.title-l .laeti {
  margin: auto;
  font-family: "Neon Tubes 2";
  color: #fff;
  text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
  /* ffd9e2 */
  font-size: 300%;
  letter-spacing: 5px;
}

.title-d {
  padding: auto;
}

.title-d, .title-dev, .title-w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title-d .duche, .title-dev .duche, .title-w .duche {
  letter-spacing: 5px;
  font-size: 300%;
  margin: auto;
  font-family: "Neon Tubes 2";
  color: #fff;
  text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
  /* ffd9e2 */
}

.title-dev {
  margin-right: 1rem;
  margin-left: 1rem;
}

.title-dw {
  font-size: 1.5rem;
  margin-top: 5rem;
}

.title-dw .dev, .title-dw .web {
  font-family: "Neon Tubes 2";
  color: #fff;
  text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
  /* ffd9e2 */
  letter-spacing: 3px;
  margin: auto;
  font-size: 100%;
}

.title-dev {
  padding: 1rem 0;
}

/* Animation neon */
.laeti, .duche {
  -webkit-animation: blink1 1000ms linear;
          animation: blink1 1000ms linear;
}

.dev {
  -webkit-animation: blink1 1500ms linear;
          animation: blink1 1500ms linear;
}

.web {
  -webkit-animation: blink2 2700ms linear;
          animation: blink2 2700ms linear;
}

@media screen and (min-width: 620px) {
  #hero {
    padding: 8rem 1rem 8rem 1rem;
  }
  .names {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .names .laeti {
    margin-right: 2rem;
  }
  .title-dw {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  #hero {
    padding: 11rem 1rem 11rem 1rem;
  }
}

/* SECTION PROJETS */
#projets {
  background-color: #37373f;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.p-projet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  line-height: 35px;
  font-size: 1.2rem;
}

.p-projet p {
  text-align: justify;
}

/* CAROUSEL */
.bloc-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.bloc-carousel .bi-chevron-compact-left, .bloc-carousel .bi-chevron-compact-right {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 2rem;
  font-weight: bold;
  color: #f845c5;
  text-shadow: 2px 2px 2px #000;
}

.carousel {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  grid-auto-columns: 100%;
  padding: 2rem 0 2rem 0.5rem;
  z-index: 0;
}

.element-projet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1rem;
  margin-right: 2rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 5px 5px 20px  #000;
          box-shadow: 5px 5px 20px  #000;
}

.container:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn {
  text-decoration: none;
  color: #000;
}

.titre-projet {
  display: block;
  text-align: center;
  background: #fff;
  padding-top: 0.5rem;
  border-radius: 0 0 1rem 1rem;
}

.titre-projet h3 {
  font-size: 1.2rem;
}

.titre-projet p {
  padding-bottom: 0.5rem;
  color: #000;
  font-size: 1rem;
}

figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

/* POP-UP MODAL */
/* Fenetre */
.modal-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -20%;
  right: 0;
  left: 0;
  bottom: -20%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 1rem;
  z-index: 999;
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-window > div {
  position: absolute;
  border-radius: 1rem;
  top: 90%;
  left: 10%;
  right: 10%;
  background: #f2f2f2;
  -webkit-box-shadow: 5px 5px 20px #5e5e65;
          box-shadow: 5px 5px 20px #5e5e65;
}

/* Bouton fermer */
.close {
  margin-top: 1rem;
  margin-left: 1rem;
  position: absolute;
  font-size: 2rem;
}

.close .bi-x-lg {
  color: #f845c5;
}

.close .bi-x-lg:hover {
  color: #000;
}

/* Texte */
.text-pop {
  display: inline-block;
  background: #fff;
  padding: 3rem 2rem 2rem 2rem;
  border-radius: 1rem 1rem 0 0;
}

.text-pop h4 {
  text-align: center;
  color: #f845c5;
  font-family: "Neon Tubes 2";
  font-size: 1.2rem;
  margin: 1rem 0 0 0;
  line-height: 2rem;
}

.text-pop .p-pop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  line-height: 23px;
}

.text-pop .p-pop p {
  text-align: justify;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* Icons techno */
.tech-pop {
  margin-top: 1rem;
}

.logo-tech {
  display: inline-block;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.logo-tech img {
  margin-right: 1rem;
  margin-top: 1rem;
}

/* Bouton lien code */
.liens-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.btn-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  margin: 1rem 5px;
  overflow: hidden;
  background: #f845c5;
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 5px #310d27, -1px -1px 5px #fff , inset 1px 1px 5px #fcb4e7, inset -1px -1px 5px #310d27;
          box-shadow: 1px 1px 5px #310d27, -1px -1px 5px #fff , inset 1px 1px 5px #fcb4e7, inset -1px -1px 5px #310d27;
  border: none;
  font-family: "Neon Tubes 2";
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.btn-code:active {
  -webkit-box-shadow: 1px 1px 5px #feecf9, -1px -1px 5px #310d27, inset 1px 1px 5px #fcb4e7, inset -1px -1px 5px #feecf9;
          box-shadow: 1px 1px 5px #feecf9, -1px -1px 5px #310d27, inset 1px 1px 5px #fcb4e7, inset -1px -1px 5px #feecf9;
  color: #fff;
  text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
}

.btn-code:hover {
  width: 155px;
}

.btn-code .icon {
  float: left;
  padding-left: 13px;
  border-radius: 50px;
  color: #fff;
}

.btn-code .icon i {
  font-size: 1.4rem;
  line-height: 48px;
}

.btn-code .span-site {
  font-size: 0.8rem;
  color: #fff;
  line-height: 50px;
  margin-left: 0.8rem;
}

.btn-code .span-code {
  font-size: 0.8rem;
  color: #fff;
  line-height: 50px;
  margin-left: 0.7rem;
}

/* Demo-Video */
.video-pop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  background: #d7d7d8;
  border-radius: 0 0 1rem 1rem;
}

.video-pop video {
  margin-top: auto;
  margin-bottom: auto;
  width: 250px;
  border-radius: 1rem;
  border: 5px solid #fff;
  -webkit-box-shadow: 5px 5px 20px  #000;
          box-shadow: 5px 5px 20px  #000;
}

/* RESPONSIVE tablette / desktop */
@media screen and (max-width: 320px) {
  .container {
    width: 100%;
  }
  .liens-code {
    display: inline;
  }
}

@media screen and (min-width: 426px) {
  .bloc-projet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .projets-title {
    margin: auto;
    width: 150%;
  }
  .carousel {
    grid-auto-columns: 60%;
  }
  .modal-window {
    top: -20%;
    right: -30%;
    left: -30%;
    bottom: -20%;
  }
  .liens-code {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 769px) {
  #projets {
    padding-top: 0;
  }
  .carousel {
    grid-auto-columns: 30%;
  }
  .p-projet {
    padding: 4rem;
  }
  .modal-window > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .text-pop {
    border-radius: 1rem 0 0 1rem;
  }
  .video-pop {
    border-radius: 0 1rem 1rem 0;
  }
}

@media screen and (min-width: 1025px) {
  .carousel {
    grid-auto-columns: 30%;
  }
  .p-projet {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  .video-pop {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

/* SECTION A PROPOS */
#apropos {
  background-color: #ebebeb;
}

/* TEXTE */
.propos-title {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #5e5e65;
}

.p-bio {
  text-align: justify;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  line-height: 35px;
}

.propos-p {
  padding: 2rem;
  font-size: 1.2rem;
}

/* PORTRAIT */
.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 4rem 2rem;
  background-color: #5e5e65;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-bio {
  -webkit-box-shadow: 5px 5px 20px  #000;
          box-shadow: 5px 5px 20px  #000;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

/* RESPONSIVE tablette / desktop */
@media screen and (min-width: 426px) {
  #apropos {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .title h2 {
    width: 100%;
  }
  .propos-p {
    padding: 4rem;
  }
}

@media screen and (min-width: 769px) {
  .p-bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .propos-p {
    width: 60%;
  }
  .img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40%;
  }
}

/* SECTION CONTACT */
footer {
  background-color: #161619;
  padding-top: 3rem;
  padding-bottom: 3rem;
  z-index: 10;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 2.6px 1.95px 1.95px;
          box-shadow: rgba(0, 0, 0, 0.15) 2.6px 1.95px 1.95px;
}

.bloc-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 1rem 1rem 1rem;
  margin-top: 2rem;
}

.contact, .bloc-social {
  width: 100%;
}

.p-contact {
  color: #fff;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.2rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mailto, .linkedin, .github {
  color: #f845c5;
  font-size: 2rem;
  font-weight: bold;
}

.mailto:hover, .linkedin:hover, .github:hover {
  color: #fff;
  text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: none;
  background: #161619;
  -webkit-box-shadow: 1px 1px 5px #000, -1px -1px 5px #6f6f6f, inset 1px 1px 5px #2b2b2b, inset -1px -1px 5px #000;
          box-shadow: 1px 1px 5px #000, -1px -1px 5px #6f6f6f, inset 1px 1px 5px #2b2b2b, inset -1px -1px 5px #000;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  cursor: pointer;
}

.btn-social:active {
  -webkit-box-shadow: 1px 1px 5px #5b5b5b, -1px -1px 5px #000, inset 1px 1px 5px #2b2b2b, inset -1px -1px 5px #e5dfdf;
          box-shadow: 1px 1px 5px #5b5b5b, -1px -1px 5px #000, inset 1px 1px 5px #2b2b2b, inset -1px -1px 5px #e5dfdf;
  color: #fff;
  text-shadow: 0 0 0 transparent, 0 0 10px #f845c5, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #f845c5, 0 0 100px #f845c5, 0 0 90px #f845c5, 0 0 100px #f845c5, 0 0 300px #f845c5;
}
/*# sourceMappingURL=main.css.map */