/* SECTION A PROPOS */

#apropos
  background: linear-gradient(to bottom, rgba(20,20,20,0.7), rgba(20,20,20,0.4))
  padding-bottom: 5rem
  

/* TEXTE */
.propos-title
  padding-top: 3rem
  padding-bottom: 3rem
.p-bio
  text-align: justify
  justify-content: center
  color: #000
  line-height: 35px
 
.propos-p
  padding: 2rem
  font-size: 1.2rem
  background-color: #e7e7e8

/* PORTRAIT */
.img
  display: flex
  text-align: center
  padding: 4rem 2rem
  justify-content: center
  align-items: center
.img-bio
  @include box-shadow
  object-fit: cover
  border-radius: 50%
  width: 250px
  height: 250px
  

/* RESPONSIVE tablette / desktop */
@media screen and (min-width: 426px)
  #apropos
    align-items: center 
  .title h2
    width: 100%
  .propos-p
    padding: 4rem
  
@media screen and (min-width: 769px)
  .p-bio
    display: flex
  .propos-p
    width: 60%
  .img
    justify-content: center
    align-items: center
    width: 40%
  
 
    



