/* SECTION A PROPOS */

#apropos
  background-color: #d7d7d8


/* TEXTE */
.propos-title
  padding-top: 3rem
  padding-bottom: 3rem
  background-color: #5e5e65
.p-bio
  text-align: justify
  justify-content: center
  color: #000
  line-height: 30px
.propos-p
  padding: 2rem


/* PORTRAIT */
.img
  display: flex
  text-align: center
  padding: 4rem 2rem
  background-color: #5e5e65
  justify-content: center
  align-items: center
  box-shadow: inset 12px 12px 20px #4b4b52
.img-bio
  box-shadow: 12px 12px 20px #4b4b52
  object-fit: cover
  border-radius: 50%
  width: 250px
  height: 250px
  

/* RESPONSIVE tablette / desktop */
@media screen and (min-width: 426px)
  #apropos
    align-items: center 
  .title h3
    width: 100%
  .propos-p
    padding: 4rem
  
@media screen and (min-width: 769px)
  .p-bio
    display: flex
  .propos-p
    width: 60%
  .img
    justify-content: center
    align-items: center
    width: 40%
  
 
    



