/* SECTION CONTACT */
  
footer
  background-color: $color-primary
  padding-top: 3rem
  padding-bottom: 3rem
.bloc-contact
  display: flex
  padding: 2rem 1rem 1rem 1rem
  margin-top: 2rem
.contact, .social
  width: 100%
.p-contact
  color: #fff
  margin-bottom: 2rem
  text-align: center

.mailto, .linkedin
  display: flex
  justify-content: center

.bi-envelope-fill, .bi-linkedin
  color: $color-secondary
  text-align: center
  font-size: 2rem
  text-shadow: 2px 2px 2px #000
  &:hover
    @include neon-shadow
    
  
