/* SECTION HERO */

#hero
  background-color: $color-primary
  top: 0
  padding: 5rem 3rem 5rem 3rem

.titles
  margin-top: 5rem
  margin-bottom: 3rem

.title-l
  display: flex
  padding: 1rem 0
  .laeti
    margin: auto
    @include neon-shadow
    font-size: 300%
    letter-spacing: 5px
  
.title-d, .title-dev, .title-w
  display: flex
  .duche
    font-size: 300%
    margin: auto
    @include neon-shadow
.title-dev
  margin-right: 1rem
  margin-left: 1rem
.title-dw
  font-size: 1.5rem
  margin-top: 5rem
  .dev, .web
    @include neon-shadow
    letter-spacing: 3px
    margin: auto
.title-dev
  padding: 1rem 0

/* Animation neon */
.laeti, .duche
  animation: blink1 1000ms linear  
.dev
  animation: blink1 1500ms linear 
.web
  animation: blink2 2700ms linear 


@media screen and (min-width: 620px)
  .title-dw
    display: flex
    justify-content: center