/* SECTION HERO */

#hero
  background-image: url('../images/bg-black.jpg')
  background-size: cover
  top: 0
  padding: 5.5rem 1rem 7rem 1rem
  height: 100vh
  box-shadow: rgba(38,57,77,1) 0px 20px 30px -10px
.titles
  margin-top: 5rem
  margin-bottom: 5rem

.title-l
  display: flex
  padding: 1rem
  .laeti
    margin: auto
    @include neon-shadow
    font-size: 300%
    letter-spacing: 5px

.title-d
  padding: auto
.title-d, .title-dev, .title-w
  display: flex
  .duche
    letter-spacing: 5px
    font-size: 300%
    margin: auto
    @include neon-shadow
.title-dev
  margin-right: 1rem
  margin-left: 1rem
.title-dw
  font-size: 1.5rem
  margin-top: 5rem
  margin-bottom: 6rem
  .dev, .web
    @include neon-shadow
    letter-spacing: 3px
    margin: auto
    font-size: 100%
.title-dev
  padding: 1rem 0

/* Animation neon */
.laeti, .duche
  animation: blink1 1000ms linear  
.dev
  animation: blink1 1500ms linear 
.web
  animation: blink2 2700ms linear 

/* Bouton contact */
.lien-contact
  display: flex
  justify-content: space-around
  margin-bottom: 5rem

.btn-contact
  display: flex
  justify-content: center
  align-items: center
  font-family: "neon_tubes_2regular"
  color: $color-secondary
  font-weight: bold
  padding: 1rem
  border-radius: 30px
  border: none
  @include btn-3d
  cursor: pointer
  transition: all 0.3s ease-out
  &:active
    box-shadow: 1px 1px 5px #feecf9, -1px -1px 5px #310d27, inset 1px 1px 5px #fcb4e7, inset -1px -1px 5px #feecf9
    color: #fff
    @include text-shadow
  &:hover
    @include contact-shadow
    transform: scale(1.08) 
    transition: all 0.2s ease-in-out

@media screen and (min-width: 620px)
  #hero
    padding: 8rem 1rem 8rem 1rem
  .names
    display: flex
    justify-content: center
    .laeti
      margin-right: 2rem
  .title-dw
    display: flex
    justify-content: center

@media screen and (min-width: 1024px)
  #hero
    padding: 11rem 1rem 11rem 1rem