/* SECTION PROJETS */

#projets
  background-color: #37373f
  padding-top: 3rem
  padding-bottom: 3rem

.p-projet
  display: flex
  padding: 2rem 
  justify-content: center
  color: #fff
  line-height: 35px
  font-size: 1.2rem
  p
    text-align: justify

  
/* CAROUSEL */
.bloc-carousel
  display: flex
  margin-top: 1rem
  margin-bottom: 2rem
  .bi-chevron-compact-left, .bi-chevron-compact-right
    margin-top: auto
    margin-bottom: auto
    font-size: 2rem
    font-weight: bold
    color: $color-secondary
    text-shadow: 2px 2px 2px #000

.carousel
  display: grid
  grid-auto-flow: column
  overflow-x: auto
  grid-auto-columns: 100%
  padding: 2rem 0 2rem 0.5rem
  z-index: 0

.element-projet
  display: flex
  border-radius: 1rem
  margin-right: 2rem 
  
.container
  display: flex
  border-radius: 1rem
  margin-bottom: 1rem
  @include box-shadow
  &:hover
    transform: scale(1.08) 
    transition: all 0.2s ease-in-out

.btn
  text-decoration: none
  color: #000

.titre-projet
  display: block
  text-align: center
  background: #fff
  padding-top: 0.5rem 
  border-radius: 0 0 1rem 1rem
  h3
    font-size: 1.2rem
  p
    padding-bottom: 0.5rem
    color: #000
    font-size: 1rem

figure
  display: flex
  flex-direction: column
  
.btn img
  width: 100%
  object-fit: cover
  border-radius: 1rem 1rem 0 0
    
    
/* POP-UP MODAL */

/* Fenetre */
.modal-window
  display: flex
  top: -20%
  right: 0
  left: 0
  bottom: -20%
  visibility: hidden
  opacity: 0
  pointer-events: none
  transition: all 0.3s
  border-radius: 1rem
  z-index: 999
  
.modal-window:target
  visibility: visible
  opacity: 1
  pointer-events: auto

.modal-window > div
  position: absolute
  border-radius: 1rem
  top: 90%
  left: 10%
  right: 10%
  background: #f2f2f2
  box-shadow: 5px 5px 20px #5e5e65

/* Bouton fermer */
.close
  margin-top: 1rem
  margin-left: 1rem
  position: absolute
  font-size: 2rem
  .bi-x-lg
    color: $color-secondary
    &:hover
      color: #000


/* Texte */
.text-pop
  display: inline-block
  background: #fff
  padding: 3rem 2rem 2rem 2rem
  border-radius: 1rem 1rem 0 0
  h4
    text-align: center
    color: $color-secondary
    font-family: "Neon Tubes 2"
    font-size: 1.2rem
    margin: 1rem 0 0 0
    line-height: 2rem
  .p-pop
    display: flex
    margin-top: 1rem
    line-height: 23px
    p
      text-align: justify
      padding-top: 5% 
      padding-bottom: 5% 
  

/* Icons techno */
.tech-pop
  margin-top: 1rem
.logo-tech
  display: inline-block
  justify-content: space-evenly
.logo-tech img
  margin-right: 1rem
  margin-top: 1rem


/* Bouton lien code */

.liens-code
  display: flex
  justify-content: space-around

.btn-code
  display: flex
  width: 50px
  height: 50px
  margin: 1rem 5px
  overflow: hidden
  background: $color-secondary
  border-radius: 50px
  cursor: pointer
  box-shadow: 1px 1px 5px #310d27, -1px -1px 5px #fff , inset 1px 1px 5px #fcb4e7, inset -1px -1px 5px #310d27
  border: none
  font-family: "Neon Tubes 2"
  transition: all 0.3s ease-out
  &:active
    box-shadow: 1px 1px 5px #feecf9, -1px -1px 5px #310d27, inset 1px 1px 5px #fcb4e7, inset -1px -1px 5px #feecf9
    color: #fff
    @include text-shadow
  &:hover
    width: 155px
  .icon
    float: left
    padding-left: 13px
    border-radius: 50px
    color: #fff
    i
      font-size: 1.4rem
      line-height: 48px
  .span-site
    font-size: 0.8rem
    color: #fff
    line-height: 50px
    margin-left: 0.8rem
  .span-code
    font-size: 0.8rem
    color: #fff
    line-height: 50px
    margin-left: 0.7rem

/* Demo-Video */
.video-pop
  display: flex
  justify-content: center
  padding: 2rem
  background: #d7d7d8
  border-radius: 0 0 1rem 1rem 
  video
    margin-top: auto 
    margin-bottom: auto
    width: 250px
    border-radius: 1rem
    border: 5px solid #fff
    @include box-shadow


/* RESPONSIVE tablette / desktop */
@media screen and (max-width: 320px)
  .container
    width: 100%
  .liens-code
    display: inline
@media screen and (min-width: 426px)
  .bloc-projet
    display: flex
  .projets-title
    margin: auto 
    width: 150%
  .carousel
    grid-auto-columns: 60%
  .modal-window
    top: -20%
    right: -30%
    left: -30%
    bottom: -20%
  .liens-code
    justify-content: space-evenly
  
@media screen and (min-width: 769px)
  #projets
    padding-top: 0
  .carousel
    grid-auto-columns: 30%
  .p-projet
    padding: 4rem
  .modal-window > div
    display: flex
  .text-pop
    border-radius: 1rem 0 0 1rem
  .video-pop
    border-radius: 0 1rem 1rem 0
    
@media screen and (min-width: 1025px)
  .carousel
    grid-auto-columns: 30%
  .p-projet
    margin-left: 2.5rem
    margin-right: 2.5rem
  .video-pop 
    padding-right: 5rem
    padding-left: 5rem

  
