/* Menu tablette desktop */
@media screen and (min-width: 426px)
  .nav-logo
    display: none
  .nav-large
    display: flex
    background-color: $color-primary
    position: fixed
    width: 100%
    z-index: 1
  .logo-large
    font-family: "Neon Tubes 2"
    color: $color-secondary
    padding: 1rem 1.3rem
    font-size: 1.5rem
  .nav2
    margin-left: auto
  .nav-list2 
    display: flex
    padding: 1.3rem 1rem
  .liens-large
    color: $color-secondary
    font-family: "Neon Tubes 2"
    font-size: 1rem
    padding: 1rem
    text-shadow: 2px 2px 2px #000
    &:hover
      @include neon-shadow
      