/* Menu mobile */
@media screen and (max-width: 425px)
  .nav-check, .nav-large
    display: none
  .btn-menu
    background-color: $color-primary 
    height: 4rem
    width: 4rem
    position: fixed
    top: 1rem
    right: 1rem
    border-radius: 50%
    z-index: 2000
    text-align: center
    cursor: pointer
    font-family: 'neontubes2', sans-serif
    @include btn-3d 
  .bi-caret-left-fill
    color: $color-secondary
    position: fixed
    top: 2.5rem
    right: 5rem
  .logo
    @include neon-shadow
    position: relative
    display: inline-block
    margin-top: 1rem
    font-size: 1.5rem
    &:hover
      color: $color-secondary
      
  .nav
    width: 10rem
    position: fixed
    top: 1rem
    right: 7rem
    transform: scale(1, 0)
    transform-origin: top
    transition: transform 400ms ease-in-out
    z-index: 2000
  .nav-list
    left: 2rem
    top: 1rem
    text-align: center
    background-color: $color-primary
    border-radius: 20px
    padding: 1rem
    @include box-shadow 
  .liens
    font-family: "neontubes2"
    color: $color-secondary
    display: inline-block
    font-size: 1rem
    text-shadow: 2px 2px 2px #000
    margin: 0.5rem
    padding: 0.5rem
    &:hover
      @include neon-shadow
      
  .nav-check:checked ~ .nav
    transform: scale(1, 1)