/* Menu tablette desktop */
@media screen and (min-width: 426px)
  .nav-logo
    display: none
  .nav-large
    display: flex
    background-color: $color-primary
    position: sticky
  .logo-large
    color: $color-secondary
    text-shadow: 1px 1px 4px $color-secondary
    padding: 1rem 1.3rem
    font-size: 1.5rem
  .nav2
    margin-left: auto
  .nav-list2 
    display: flex
    padding: 1.3rem 1rem
  .liens-large
    font-size: 1rem
    color: $color-secondary
    text-shadow: 1px 1px 4px $color-secondary
    text-transform: uppercase
    padding: 1rem
    &:hover
      color: #fff