body
  font-family: 'arial', sans-serif



@font-face
  font-family: "neon-tubes-2" sans-serif
  src:url("https://blogfonts.com/fonts/n/456/164456/file/NeonTubes2.otf") format("woff"),
  url("https://blogfonts.com/fonts/n/456/164456/file/NeonTubes2.otf") format("opentype"),
  url("https://blogfonts.com/fonts/n/456/164456/file/NeonTubes2.otf") format("truetype")