@mixin neon-shadow
  font-family: "Neon Tubes 2"
  color: #ffd9e2
  @include text-shadow
  
@mixin titles-color
  font-family: "Neon Tubes 2"
  color: #fff
  text-align: center
  @include text-shadow
  

@mixin text-shadow
  text-shadow: 0 0 0 transparent, 0 0 10px $color-secondary, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px $color-secondary, 0 0 100px $color-secondary, 0 0 90px $color-secondary, 0 0 100px $color-secondary, 0 0 300px $color-secondary
